footer {
    padding: 30px;
    background: #2a2a2e;
    color: #fff;
    text-align: center;
    p {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 11px;
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        margin: 0;
    }
}
